*{
    margin: 1px;
}

body{
    background-color: black;
    align-items: center;
    position: relative;
}

#menu{
    background-color: whitesmoke;
    position: relative;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
    width: 50%;
    border-radius: 18px;
}

#menu a{
    text-decoration: none;
    background-color: blue;
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

h1, h2, p{
    color: bisque;
}

h1, h2{
    
    justify-content: center;
    text-align: center;

}

#principal{
    background-image: url('/img/Rio.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#historia, #principal, #turisticos, #eventos{
    width: 100%;
    height: 600px;
}

#historia p{
    text-align: justify;
    margin: 40px;
}
